@CHARSET "UTF-8";

:root { 
	--mybase-color: Azure;
}

.row>.nonemptycol {
	/*	margin-top: 2px;*/
	/*margin:2px;*/
	background-color: white;
	padding: 20px;
	border: 5px solid;
	border-color: LightGray;
	/**outline: 2px solid #ccc;*/
	/*outline-offset: -5px;*/
	-moz-outline-radius: 10px;
	-webkit-outline-radius: 10px;
}

.row>.emptycol {
	background-color: LightGray;
}

.navbar {
	margin-bottom: 5px;
}

.contentbody {
	background-color: LightGray;
}