<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>web_01</display-name>
	<listener>
		<listener-class>listener.MyServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>listener.SessionListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>WEB main select</servlet-name>
		<servlet-class>servlet.SelectSubject</servlet-class>
		<init-param>
			<param-name>paramName</param-name>
			<param-value>paramValue</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>abc.jar</servlet-name>
		<servlet-class>servlet.GetFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Main login</servlet-name>
		<servlet-class>servlet.LogIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>servlet.LogOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Me2day user finding</servlet-name>
		<servlet-class>servlet.Me2dayFindUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Blog</servlet-name>
		<servlet-class>servlet.Blog</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DictionaryAutocomplete</servlet-name>
		<servlet-class>servlet.DictionaryAutocomplete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WEB main select</servlet-name>
		<url-pattern>/Select.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc.jar</servlet-name>
		<url-pattern>/abc.jar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main login</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Me2day user finding</servlet-name>
		<url-pattern>/Me2day.FindUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Blog</servlet-name>
		<url-pattern>/Blogajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DictionaryAutocomplete</servlet-name>
		<url-pattern>/DictionaryAutocomplete</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextParamName</param-name>
		<param-value>contextParamValue</param-value>
	</context-param>
	<context-param>
		<param-name>dbEntry</param-name>
		<param-value>sampleEntry</param-value>
	</context-param>


</web-app>
