:root {
  --other-hand-background-color: yellow;
	--other-hand-top-margin: 70px;
	--other-hand-side-margin: 10px;

	--other-taken-background-color: yellow;
	--other-taken-top-margin: 30px;
	--other-taken-side-margin: 10px;

	--my-hand-background-color: yellow;
	--my-hand-bottom-margin: 10px;

	--my-taken-background-color: yellow;
	--my-taken-top-margin: 10px;
	--my-taken-bottom-margin: 10px;
	--my-taken-side-margin: 10px;

	--taken-width: 550px;
	--taken-height: 220px;
}

body {
}


.other-hand {
	width: 110px; 
	height: 400px;
	margin-top: var(--other-hand-top-margin);
	background-color: var(--other-hand-background-color);
}

.other-hand-left {
	float: left;
	margin-left: var(--other-hand-side-margin);
}

.other-hand-right {
	float: right;
	margin-right: var(--other-hand-side-margin);
}

.other-taken {
	width: var(--taken-height);
	height: var(--taken-width);
	margin-top: var(--other-taken-top-margin);
	background-color: var(--other-taken-background-color);
}

.other-taken-left {
	float: left;
	margin-left: var(--other-taken-side-margin);
}

.other-taken-right {
	float: right;
	margin-right: var(--other-taken-side-margin);
}

.my-hand {
	width: 400px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--my-hand-bottom-margin);
	background-color: var(--my-hand-background-color);
}

.my-taken {
	width: var(--taken-width);
	height: var(--taken-height);
	margin-top: var(--my-taken-top-margin);
	margin-bottom: var(--my-taken-bottom-margin);
	margin-left: var(--my-taken-side-margin);
	background-color: var(--my-taken-background-color);
}

.mid-container {
	float: left;
	width: 570px;
	height: 800px;
	background-color: lightgrey;
}

.floor {
	width: 570px;
	height:400px;
		margin-left: auto;
	margin-right: auto;
	background-color: red;
}