:root {
	--player-height: 220px;
	--player-width:500px
}

body {
}


.player {
	width: var(--player-width); 
	height: 220px;
	
}

.score {
	width: var(--player-width);  
	height: 30px;
	
}

.taken-card {
	width: var(--player-width); 
	height: 190px;
	background-color: white;
}

.taken-card-line {
	width: var(--player-width); 
	height: 80px;

}

.light-card {
	width: 120px; 
	height: 80px;
	float:left;
	background-color:peachpuff;
}

.ten-card {
	width: 150px; 
	height: 80px;
	float:left;
	background-color:rebeccapurple;
}

.shell-card {
	width: 180px; 
	height: 80px;
	float:left;
	background-color:mediumpurple;
}

.title {
	width: 280px;
	height:var(--player-height);

}
.floor {
	width: 800px;
	height:360px;
	margin:auto;
	background-color: green;
}

.info {
	width: 200px; 
	height: var(--player-height);
	background-color: aqua;
}

.hand {
	width: 400px; 
	height: var(--player-height);
	background-color: lightblue;
}

.message {
	width: 170px; 
	height: var(--player-height);
	background-color: pink;
}

