/*!
* slimfaq-reset
*   github.com/premasagar/slimfaq-reset
*
*//*
    An extreme CSS reset stylesheet, for normalising the styling of a container element and its children.

    by Premasagar Rose
        dharmafly.com

    license
        opensource.org/licenses/mit-license.php

    **

    v0.9.3

*/

/* == BLANKET RESET RULES == */

/* HTML 4.01 */
.slimfaq-reset, .slimfaq-reset h1, .slimfaq-reset h2, .slimfaq-reset h3, .slimfaq-reset h4, .slimfaq-reset h5, .slimfaq-reset h6, .slimfaq-reset p, .slimfaq-reset td, .slimfaq-reset dl, .slimfaq-reset tr, .slimfaq-reset dt, .slimfaq-reset ol, .slimfaq-reset form, .slimfaq-reset select, .slimfaq-reset option, .slimfaq-reset pre, .slimfaq-reset div, .slimfaq-reset table,  .slimfaq-reset th, .slimfaq-reset tbody, .slimfaq-reset tfoot, .slimfaq-reset caption, .slimfaq-reset thead, .slimfaq-reset ul, .slimfaq-reset li, .slimfaq-reset address, .slimfaq-reset blockquote, .slimfaq-reset dd, .slimfaq-reset fieldset, .slimfaq-reset li, .slimfaq-reset iframe, .slimfaq-reset strong, .slimfaq-reset legend, .slimfaq-reset em, .slimfaq-reset summary, .slimfaq-reset cite, .slimfaq-reset span, .slimfaq-reset input, .slimfaq-reset sup, .slimfaq-reset label, .slimfaq-reset dfn, .slimfaq-reset object, .slimfaq-reset big, .slimfaq-reset q, .slimfaq-reset samp, .slimfaq-reset acronym, .slimfaq-reset small, .slimfaq-reset img, .slimfaq-reset strike, .slimfaq-reset code, .slimfaq-reset sub, .slimfaq-reset ins, .slimfaq-reset textarea, .slimfaq-reset button, .slimfaq-reset var, .slimfaq-reset a, .slimfaq-reset abbr, .slimfaq-reset applet, .slimfaq-reset del, .slimfaq-reset kbd, .slimfaq-reset tt, .slimfaq-reset b, .slimfaq-reset i, .slimfaq-reset hr,

/* HTML5 - Sept 2013 taken from MDN https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/HTML5_element_list */
.slimfaq-reset article, .slimfaq-reset aside, .slimfaq-reset figure, .slimfaq-reset figcaption, .slimfaq-reset footer, .slimfaq-reset header, .slimfaq-reset menu, .slimfaq-reset nav, .slimfaq-reset section, .slimfaq-reset time, .slimfaq-reset mark, .slimfaq-reset audio, .slimfaq-reset video, .slimfaq-reset abbr, .slimfaq-reset address, .slimfaq-reset area, .slimfaq-reset blockquote, .slimfaq-reset canvas, .slimfaq-reset caption, .slimfaq-reset cite, .slimfaq-reset code, .slimfaq-reset colgroup, .slimfaq-reset col, .slimfaq-reset datalist, .slimfaq-reset fieldset, .slimfaq-reset main, .slimfaq-reset map, .slimfaq-reset meta, .slimfaq-reset optgroup, .slimfaq-reset output, .slimfaq-reset progress {
    background-attachment:scroll !important;
    background-color:transparent !important;
    background-image:none !important; /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
    background-position:0 0 !important;
    background-repeat:repeat !important;
    border-color:black !important;
    border-color:currentColor !important; /* `border-color` should match font color. Modern browsers (incl. IE9) allow the use of "currentColor" to match the current font 'color' value <http://www.w3.org/TR/css3-color/#currentcolor>. For older browsers, a default of 'black' is given before this rule. Guideline to support older browsers: if you haven't already declared a border-color for an element, be sure to do so, e.g. when you first declare the border-width. */
    border-radius:0 !important;
    border-style:none !important;
    border-width:medium !important;
    bottom:auto !important;
    clear:none !important;
    clip:auto !important;
    color:inherit !important;
    counter-increment:none !important;
    counter-reset:none !important;
    cursor:auto !important;
    direction:inherit !important;
    display:inline !important;
    float:none !important;
    font-family: inherit !important; /* As with other inherit values, this needs to be set on the root container element */
    font-size: inherit !important;
    font-style:inherit !important;
    font-variant:normal !important;
    font-weight:inherit !important;
    height:auto !important;
    left:auto !important;
    letter-spacing:normal !important;
    line-height:inherit !important;
    list-style-type: inherit !important; /* Could set list-style-type to none */
    list-style-position: outside !important;
    list-style-image: none !important;
    margin:0 !important;
    max-height:none !important;
    max-width:none !important;
    min-height:0 !important;
    min-width:0 !important;
    opacity:1;
    outline:invert none medium !important;
    overflow:visible !important;
    padding:0 !important;
    position:static !important;
    quotes: "" "" !important;
    right:auto !important;
    table-layout:auto !important;
    text-align:inherit !important;
    text-decoration:inherit !important;
    text-indent:0 !important;
    text-transform:none !important;
    top:auto !important;
    unicode-bidi:normal !important;
    vertical-align:baseline !important;
    visibility:inherit !important;
    white-space:normal !important;
    width:auto !important;
    word-spacing:normal !important;
    z-index:auto !important;

    /* CSS3 */
    /* Including all prefixes according to http://caniuse.com/ */
    /* CSS Animations don't cascade, so don't require resetting */
    -webkit-background-origin: padding-box !important;
            background-origin: padding-box !important;
    -webkit-background-clip: border-box !important;
            background-clip: border-box !important;
    -webkit-background-size: auto !important;
       -moz-background-size: auto !important;
            background-size: auto !important;
    -webkit-border-image: none !important;
       -moz-border-image: none !important;
         -o-border-image: none !important;
            border-image: none !important;
    -webkit-border-radius:0 !important;
       -moz-border-radius:0 !important;
            border-radius: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
    -webkit-column-count: auto !important;
       -moz-column-count: auto !important;
            column-count: auto !important;
    -webkit-column-gap: normal !important;
       -moz-column-gap: normal !important;
            column-gap: normal !important;
    -webkit-column-rule: medium none black !important;
       -moz-column-rule: medium none black !important;
            column-rule: medium none black !important;
    -webkit-column-span: 1 !important;
       -moz-column-span: 1 !important; /* doesn't exist yet but probably will */
            column-span: 1 !important;
    -webkit-column-width: auto !important;
       -moz-column-width: auto !important;
            column-width: auto !important;
    font-feature-settings: normal !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    -webkit-hyphens: manual !important;
       -moz-hyphens: manual !important;
            hyphens: manual !important;
    -webkit-perspective: none !important;
       -moz-perspective: none !important;
        -ms-perspective: none !important;
         -o-perspective: none !important;
            perspective: none !important;
    -webkit-perspective-origin: 50% 50% !important;
       -moz-perspective-origin: 50% 50% !important;
        -ms-perspective-origin: 50% 50% !important;
         -o-perspective-origin: 50% 50% !important;
            perspective-origin: 50% 50% !important;
    -webkit-backface-visibility: visible !important;
       -moz-backface-visibility: visible !important;
        -ms-backface-visibility: visible !important;
         -o-backface-visibility: visible !important;
            backface-visibility: visible !important;
    text-shadow: none !important;
    -webkit-transition: all 0s ease 0s !important;
            transition: all 0s ease 0s !important;
    -webkit-transform: none !important;
       -moz-transform: none !important;
        -ms-transform: none !important;
         -o-transform: none !important;
            transform: none !important;
    -webkit-transform-origin: 50% 50% !important;
       -moz-transform-origin: 50% 50% !important;
        -ms-transform-origin: 50% 50% !important;
         -o-transform-origin: 50% 50% !important;
            transform-origin: 50% 50% !important;
    -webkit-transform-style: flat !important;
       -moz-transform-style: flat !important;
        -ms-transform-style: flat !important;
         -o-transform-style: flat !important;
            transform-style: flat !important;
    word-break: normal !important;
}

/* == BLOCK-LEVEL == */
/* Actually, some of these should be inline-block and other values, but block works fine (TODO: rigorously verify this) */
/* HTML 4.01 */
.slimfaq-reset, .slimfaq-reset h3, .slimfaq-reset h5, .slimfaq-reset p, .slimfaq-reset h1, .slimfaq-reset dl, .slimfaq-reset dt, .slimfaq-reset h6, .slimfaq-reset ol, .slimfaq-reset form, .slimfaq-reset option, .slimfaq-reset pre, .slimfaq-reset div, .slimfaq-reset h2, .slimfaq-reset caption, .slimfaq-reset h4, .slimfaq-reset ul, .slimfaq-reset address, .slimfaq-reset blockquote, .slimfaq-reset dd, .slimfaq-reset fieldset, .slimfaq-reset hr,

/* HTML5 new elements */
.slimfaq-reset article, .slimfaq-reset dialog, .slimfaq-reset figure, .slimfaq-reset footer, .slimfaq-reset header, .slimfaq-reset hgroup, .slimfaq-reset menu, .slimfaq-reset nav, .slimfaq-reset section, .slimfaq-reset audio, .slimfaq-reset video, .slimfaq-reset address, .slimfaq-reset blockquote, .slimfaq-reset colgroup, .slimfaq-reset main, .slimfaq-reset progress, .slimfaq-reset summary {
    display:block !important;
}
.slimfaq-reset h1, .slimfaq-reset h2, .slimfaq-reset h3, .slimfaq-reset h4, .slimfaq-reset h5, .slimfaq-reset h6 {
    font-weight: bold !important;
}
.slimfaq-reset h1 {
    font-size: 2em !important;
    padding: .67em 0 !important;
}
.slimfaq-reset h2 {
    font-size: 1.5em !important;
    padding: .83em 0 !important;
}
.slimfaq-reset h3 {
    font-size: 1.17em !important;
    padding: .83em 0 !important;
}
.slimfaq-reset h4 {
    font-size: 1em !important;
}
.slimfaq-reset h5 {
    font-size: .83em !important;
}
.slimfaq-reset p {
    margin: 1em 0 !important;
}
.slimfaq-reset table {
    display: table !important;
}
.slimfaq-reset thead {
    display: table-header-group !important;
}
.slimfaq-reset tbody {
    display: table-row-group !important;
}
.slimfaq-reset tfoot {
    display: table-footer-group !important;
}
.slimfaq-reset tr {
    display: table-row !important;
}
.slimfaq-reset th, .slimfaq-reset td {
    display: table-cell !important;
    padding: 2px !important;
}

/* == SPECIFIC ELEMENTS == */
/* Some of these are browser defaults; some are just useful resets */
.slimfaq-reset ol, .slimfaq-reset ul {
    margin: 1em 0 !important;
}
.slimfaq-reset ul li, .slimfaq-reset ul ul li, .slimfaq-reset ul ul ul li, .slimfaq-reset ol li, .slimfaq-reset ol ol li, .slimfaq-reset ol ol ol li, .slimfaq-reset ul ol ol li, .slimfaq-reset ul ul ol li, .slimfaq-reset ol ul ul li, .slimfaq-reset ol ol ul li {
    list-style-position: inside !important;
    margin-top: .08em !important;
}
.slimfaq-reset ol ol, .slimfaq-reset ol ol ol, .slimfaq-reset ul ul, .slimfaq-reset ul ul ul, .slimfaq-reset ol ul, .slimfaq-reset ol ul ul, .slimfaq-reset ol ol ul, .slimfaq-reset ul ol, .slimfaq-reset ul ol ol, .slimfaq-reset ul ul ol {
    padding-left: 40px !important;
    margin: 0 !important;
}
/* helper for general navigation */
.slimfaq-reset nav ul, .slimfaq-reset nav ol {
    list-style-type:none !important;

}
.slimfaq-reset ul, .slimfaq-reset menu {
    list-style-type:disc !important;
}
.slimfaq-reset ol {
    list-style-type:decimal !important;
}
.slimfaq-reset ol ul, .slimfaq-reset ul ul, .slimfaq-reset menu ul, .slimfaq-reset ol menu, .slimfaq-reset ul menu, .slimfaq-reset menu menu {
    list-style-type:circle !important;
}
.slimfaq-reset ol ol ul, .slimfaq-reset ol ul ul, .slimfaq-reset ol menu ul, .slimfaq-reset ol ol menu, .slimfaq-reset ol ul menu, .slimfaq-reset ol menu menu, .slimfaq-reset ul ol ul, .slimfaq-reset ul ul ul, .slimfaq-reset ul menu ul, .slimfaq-reset ul ol menu, .slimfaq-reset ul ul menu, .slimfaq-reset ul menu menu, .slimfaq-reset menu ol ul, .slimfaq-reset menu ul ul, .slimfaq-reset menu menu ul, .slimfaq-reset menu ol menu, .slimfaq-reset menu ul menu, .slimfaq-reset menu menu menu {
    list-style-type:square !important;
}
.slimfaq-reset li {
    display:list-item !important;
    /* Fixes IE7 issue with positioning of nested bullets */
    min-height:auto !important;
    min-width:auto !important;
    padding-left: 20px !important; /* replace -webkit-padding-start: 40px; */
}
.slimfaq-reset strong {
    font-weight:bold !important;
}
.slimfaq-reset em {
    font-style:italic !important;
}
.slimfaq-reset kbd, .slimfaq-reset samp, .slimfaq-reset code, .slimfaq-reset pre {
  font-family:monospace !important;
}
.slimfaq-reset a {
    color: blue !important;
    text-decoration: underline !important;
}
.slimfaq-reset a:visited {
    color: #529 !important;
}
.slimfaq-reset a, .slimfaq-reset a *, .slimfaq-reset input[type=submit], .slimfaq-reset input[type=radio], .slimfaq-reset input[type=checkbox], .slimfaq-reset select {
    cursor:pointer !important;
}
.slimfaq-reset button, .slimfaq-reset input[type=submit] {
    text-align: center !important;
    padding: 2px 6px 3px !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    font-family: arial, helvetica, sans-serif !important;
    font-size: small !important;
    background: white !important;
    -webkit-appearance: push-button !important;
    color: buttontext !important;
    border: 1px #a6a6a6 solid !important;
    background: lightgrey !important; /* Old browsers */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%, rgba(209,209,209,1) 100%, rgba(221,221,221,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)), color-stop(100%,rgba(209,209,209,1)), color-stop(100%,rgba(221,221,221,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ) !important; /* IE6-9 */
    -webkit-box-shadow: 1px 1px 0px #eee !important;
       -moz-box-shadow: 1px 1px 0px #eee !important;
         -o-box-shadow: 1px 1px 0px #eee !important;
            box-shadow: 1px 1px 0px #eee !important;
    outline: initial !important;
}
.slimfaq-reset button {
    padding: 1px 6px 2px 6px !important;
    margin-right: 5px !important;
}
.slimfaq-reset input[type=hidden] {
    display:none !important;
}
/* restore form defaults */
.slimfaq-reset textarea {
    -webkit-appearance: textarea !important;
    background: white !important;
    padding: 2px !important;
    margin-left: 4px !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    font-size: 11px !important;
    font-family: arial, helvetica, sans-serif !important;
    line-height: 13px !important;
    resize: both !important;
}
.slimfaq-reset select, .slimfaq-reset textarea, .slimfaq-reset input {
    border:1px solid #ccc !important;
}
.slimfaq-reset select {
    font-size: 11px !important;
    font-family: helvetica, arial, sans-serif !important;
    display: inline-block;
}
.slimfaq-reset textarea:focus, .slimfaq-reset input:focus {
    outline: auto 5px -webkit-focus-ring-color !important;
    outline: initial !important;
}
.slimfaq-reset input[type=text] {
    background: white !important;
    padding: 1px !important;
    font-family: initial !important;
    font-size: small !important;
}
.slimfaq-reset input[type=checkbox], .slimfaq-reset input[type=radio] {
    border: 1px #2b2b2b solid !important;
    border-radius: 4px !important;
}
.slimfaq-reset input[type=checkbox], .slimfaq-reset input[type=radio] {
    outline: intial !important;
}
.slimfaq-reset input[type=radio] {
    margin: 2px 2px 3px 2px !important;
}
.slimfaq-reset input[type=submit]:active, .slimfaq-reset button:active {
    background: rgb(59,103,158) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%) !important; /* W3C */
    border-color: #5259b0 !important;
}
.slimfaq-reset abbr[title], .slimfaq-reset acronym[title], .slimfaq-reset dfn[title] {
    cursor:help !important;
    border-bottom-width:1px !important;
    border-bottom-style:dotted !important;
}
.slimfaq-reset ins {
    background-color:#ff9 !important;
    color:black !important;
}
.slimfaq-reset del {
    text-decoration: line-through !important;
}
.slimfaq-reset blockquote, .slimfaq-reset q  {
    quotes:none !important; /* HTML5 */
}
.slimfaq-reset blockquote:before, .slimfaq-reset blockquote:after, .slimfaq-reset q:before, .slimfaq-reset q:after, .slimfaq-reset li:before, .slimfaq-reset li:after  {
    content:"" !important;
}
.slimfaq-reset input, .slimfaq-reset select {
    vertical-align:middle !important;
}

.slimfaq-reset table {
    border-collapse:collapse !important;
    border-spacing:0 !important;
}
.slimfaq-reset hr {
    display:block !important;
    height:1px !important;
    border:0 !important;
    border-top:1px solid #ccc !important;
    margin:1em 0 !important;
}
.slimfaq-reset *[dir=rtl] {
    direction: rtl !important;
}
.slimfaq-reset mark {
    background-color:#ff9 !important;
    color:black !important;
    font-style:italic !important;
    font-weight:bold !important;
}
.slimfaq-reset menu {
    padding-left: 40px !important;
    padding-top: 8px !important;
}

/* additional helpers */
.slimfaq-reset [hidden],
.slimfaq-reset template {
    display: none !important;
}
.slimfaq-reset abbr[title] {
    border-bottom: 1px dotted !important;
}
.slimfaq-reset sub, .slimfaq-reset sup {
    font-size: 75% !important;
    line-height: 0 !important;
    position: relative !important;
    vertical-align: baseline !important;
}
.slimfaq-reset sup {
    top: -0.5em !important;
}
.slimfaq-reset sub {
    bottom: -0.25em !important;
}
.slimfaq-reset img {
    border: 0 !important;
}
.slimfaq-reset figure {
    margin: 0 !important;
}
.slimfaq-reset textarea {
    overflow: auto !important;
    vertical-align: top !important;
}

/* == ROOT CONTAINER ELEMENT == */
/* This contains default values for child elements to inherit  */
.slimfaq-reset {
    font-size: medium !important;
    line-height: 1 !important;
    direction:ltr !important;
    text-align: left !important; /* for IE, Opera */
    text-align: start !important; /* recommended W3C Spec */
    font-family: "Times New Roman", Times, serif !important; /* Override this with whatever font-family is required */
    color: black !important;
    font-style:normal !important;
    font-weight:normal !important;
    text-decoration:none !important;
    list-style-type:disc !important;
}

.slimfaq-reset pre {
    white-space:pre !important;
}
